<div class="container mt-5 m-10 w-60">
  <h2>Login</h2>
  <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        class="form-control"
        required
        ngModel
        name="email"
      />
      <small
        class="p-error block"
        *ngIf="form.get('email')?.required && form.get('email')?.email"
      >
        First name is required</small
      >
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <app-password [(passwordValue)]="password"></app-password>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
  </form>

  <div class="mt-4">
    <p>Or Sign IN with:</p>
    <a href="#" class="btn btn-danger mr-2">Google</a>
    <a href="#" class="btn btn-primary">Facebook</a>
  </div>
</div>
